### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

# To allow automatic PR merging by prow, update any corresponding
# OWNERS files in the relevant directories whenever CODEOWNERS is
# updated.

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# Build API (imported from elafros/build)
/pkg/apis/build @mattmoor @ImJasonH

# API Core working group
/pkg/webhook @mattmoor @grantr @tcnghia
/pkg/controller @mattmoor @grantr @tcnghia

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs @bobcatfish
/test/conformance/ @bobcatfish @adrcunha

# third_party
/third_party/ @evankanderson @mattmoor @vaikas-google @mdemirhan

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!
