# Operating system temporary files
.DS_Store

# Editor/IDE specific settings
.idea
.vscode/
*.iml

# Temporary output of build tools
bazel-*
*.out

# Compiled binaries (should not be committed)
/activator
/autoscaler
/queue
/controller
/webhook

# Repomix outputs
repomix*.xml