# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.

required = [
  "k8s.io/apimachinery/pkg/util/sets/types",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/defaulter-gen",
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/lister-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "github.com/knative/pkg/codegen/cmd/injection-gen",
  "github.com/knative/caching/pkg/apis/caching",
  "github.com/knative/test-infra/scripts",
  "github.com/knative/test-infra/tools/dep-collector",
]

[[override]]
  name = "gopkg.in/yaml.v2"
  version = "v2.2.1"

[[override]]
  name = "github.com/knative/pkg"
  branch = "release-0.7"

[[override]]
  name = "go.uber.org/zap"
  revision = "67bc79d13d155c02fd008f721863ff8cc5f30659"

[[constraint]]
  name = "github.com/knative/caching"
  # HEAD as of 2019-06-05
  revision = "b6c8f4851e3fb13987782cf8014316141e42fbd3"

[[constraint]]
  name = "github.com/google/go-containerregistry"
  # HEAD as of 2019-06-19
  revision = "abf9ef06abd9f532944e28e8942644ea4b710a40"

[[constraint]]
  name = "github.com/jetstack/cert-manager"
  revision = "45fbfcd16cdd6a6a73c79f26d67ce72a2886c746"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.12.6"

[[override]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.12.6"

[[override]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.12.6"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.12.6"

[[override]]
  name = "github.com/rogpeppe/go-internal"
  # HEAD as of 2019-01-09
  # Needed because release 1.0.0 does not contain a LICENSE file
  revision = "4bbc89b6501cca7dd6b5557d78d70c8d2c6e8b97"

[[override]]
  name = "contrib.go.opencensus.io/exporter/stackdriver"
  # HEAD as of 2019-02-11
  # Needed because this includes a fix to support Stackdriver built-in metrics
  revision = "c06c82c832edca4eaf7b0241bd655560a1be0346"

# Added for the custom-metrics-apiserver specifically
[[override]]
  name = "github.com/kubernetes-incubator/custom-metrics-apiserver"
  revision = "b7016fc85e1c960758aef23e1d456a66997d1e26"

[[override]]
  name = "k8s.io/apiserver"
  version = "kubernetes-1.12.6"

[[override]]
  name = "k8s.io/metrics"
  version = "kubernetes-1.12.6"

[prune]
  go-tests = true
  unused-packages = true
  non-go = true

[[prune.project]]
  name = "k8s.io/code-generator"
  unused-packages = false
  non-go = false

[[prune.project]]
  name = "github.com/knative/caching"
  unused-packages = false
  non-go = false

[[prune.project]]
  name = "github.com/knative/test-infra"
  non-go = false

[[prune.project]]
  name = "bitbucket.org/ww/goautoneg"
  non-go = false

 [[prune.project]]
  name = "github.com/knative/pkg"
  unused-packages = false
  non-go = false
