# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.

required = [
  "k8s.io/apimachinery/pkg/util/sets/types",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/defaulter-gen",
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/lister-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "knative.dev/pkg/codegen/cmd/injection-gen",
  # TODO(#4549): Drop this when we drop our patches.
  "k8s.io/kubernetes/pkg/version",
  "knative.dev/caching/pkg/apis/caching",
  # For cluster management in performance testing.
  "knative.dev/pkg/testutils/clustermanager/perf-tests",
  "knative.dev/test-infra/scripts",
  "knative.dev/test-infra/tools/dep-collector",
  # For load testing.
  "github.com/tsenart/vegeta"
]

[[constraint]]
  name = "github.com/tsenart/vegeta"
  branch = "master"

[[override]]
  name = "gopkg.in/yaml.v2"
  version = "v2.2.4"

[[override]]
  name = "knative.dev/pkg"
  branch = "master"

[[constraint]]
  name = "knative.dev/caching"
  branch = "master"

[[override]]
  name = "github.com/google/mako"
  version = "v0.1.0"

[[override]]
  name = "go.uber.org/zap"
  revision = "67bc79d13d155c02fd008f721863ff8cc5f30659"

[[constraint]]
  name = "github.com/google/go-containerregistry"
  # HEAD as of 2019-09-10
  revision = "b02d448a3705facf11018efff34f1d2830be5724"

[[constraint]]
  name = "github.com/jetstack/cert-manager"
  version = "v0.9.1"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/apiextensions-apiserver"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/apiserver"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/metrics"
  version = "kubernetes-1.15.3"

[[override]]
  name = "k8s.io/kube-openapi"
  # This is the version at which k8s.io/apiserver depends on this at its 1.15.3 tag.
  revision = "b3a7cee44a305be0a69e1b9ac03018307287e1b0"

[[override]]
  name = "sigs.k8s.io/structured-merge-diff"
  # This is the version at which k8s.io/apiserver depends on this at its 1.15.3 tag.
  revision = "e85c7b244fd2cc57bb829d73a061f93a441e63ce"

[[override]]
  name = "github.com/rogpeppe/go-internal"
  version = "1.3.0"

[[override]]
  name = "github.com/kelseyhightower/envconfig"
  version = "v1.4.0"

# Added for the custom-metrics-apiserver specifically
[[override]]
  name = "github.com/kubernetes-incubator/custom-metrics-apiserver"
  revision = "3d9be26a50eb64531fc40eb31a5f3e6720956dc6"

[[override]]
  name = "bitbucket.org/ww/goautoneg"
  source = "github.com/munnerz/goautoneg"

[prune]
  go-tests = true
  unused-packages = true
  non-go = true

[[prune.project]]
  name = "k8s.io/code-generator"
  unused-packages = false
  non-go = false

[[prune.project]]
  name = "knative.dev/test-infra"
  non-go = false

[[prune.project]]
  name = "knative.dev/pkg"
  unused-packages = false
  non-go = false

[[prune.project]]
  name = "knative.dev/caching"
  unused-packages = false
  non-go = false


# The dependencies below are required for opencensus.
[[override]]
  name = "google.golang.org/genproto"
  revision = "357c62f0e4bbba7e6cc403ae09edcf3e2b9028fe"

[[override]]
  name = "google.golang.org/grpc"
  # TODO(#5912): There is a latent test bug that is fixed upstream,
  # so pin this for now.
  revision = "2e463a05d100327ca47ac218281906921038fd95"

[[override]]
  name = "google.golang.org/api"
  # TODO(#5912): There is a latent test bug that is fixed upstream,
  # so pin this for now.
  revision = "874d9dc5b186e361475b082852f136f094555c30"

[[override]]
  name = "contrib.go.opencensus.io/exporter/stackdriver"
  # Synced from knative/pkg.
  # The build fails against 0.12.6 and newer because
  # stackdriver.Options.GetMonitoredResource was removed.
  version = "<=v0.12.5"

[[override]]
  name = "contrib.go.opencensus.io/exporter/prometheus"
  version = "0.1.0"

[[override]]
  name = "contrib.go.opencensus.io/exporter/zipkin"
  version = "0.1.1"

[[constraint]]
  name = "go.opencensus.io"
  version = "0.22.0"

[[override]]
  name = "github.com/census-instrumentation/opencensus-proto"
  version = "0.2.0"

[[override]]
  name="github.com/golang/protobuf"
  version = "1.3.2"
