# Copyright 2020 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: knative-serving-namespace-wildcard-certs
  labels:
    serving.knative.dev/release: devel
    serving.knative.dev/controller: "true"
    networking.knative.dev/wildcard-certificate-provider: nscert
    app.kubernetes.io/name: networking-ns-cert
    app.kubernetes.io/version: devel
    app.kubernetes.io/part-of: knative
rules:
  - apiGroups: [""]
    resources: ["namespaces/finalizers"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
