kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: knative-serving-admin
rules:
  - apiGroups: [""]
    resources: ["pods", "namespaces", "secrets", "configmaps", "endpoints", "services", "events", "serviceaccounts"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
  - apiGroups: ["extensions"]
    resources: ["ingresses","deployments"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
  - apiGroups: ["admissionregistration.k8s.io"]
    resources: ["mutatingwebhookconfigurations"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
  - apiGroups: ["serving.knative.dev"]
    resources: ["configurations", "configurationgenerations", "routes", "revisions", "revisionuids", "autoscalers", "services"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]
  - apiGroups: ["build.dev"]
    resources: ["builds", "buildtemplates"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]    
  - apiGroups: ["feeds.knative.dev"]
    resources: ["eventsources", "eventtypes", "binds"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]    
  - apiGroups: ["config.istio.io"]
    resources: ["routerules"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]    
---    
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: knative-serving-write
rules:
  - apiGroups: [""]
    resources: ["pods", "namespaces", "secrets", "configmaps", "endpoints", "services", "events", "serviceaccounts"]
    verbs: ["get", "list", "update", "patch", "watch"]
  - apiGroups: ["extensions"]
    resources: ["ingresses","deployments"]
    verbs: ["get", "list", "update", "patch", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets"]
    verbs: ["get", "list", "update", "patch", "watch"]
  - apiGroups: ["admissionregistration.k8s.io"]
    resources: ["mutatingwebhookconfigurations"]
    verbs: ["get", "list", "update", "patch", "watch"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["get", "list", "update", "patch", "watch"]
  - apiGroups: ["serving.knative.dev"]
    resources: ["configurations", "configurationgenerations", "routes", "revisions", "revisionuids", "autoscalers", "services"]
    verbs: ["get", "list", "update", "patch", "watch"]
  - apiGroups: ["build.dev"]
    resources: ["builds", "buildtemplates"]
    verbs: ["get", "list", "update", "patch", "watch"]    
  - apiGroups: ["feeds.knative.dev"]
    resources: ["eventsources", "eventtypes", "binds"]
    verbs: ["get", "list", "update", "patch", "watch"]    
  - apiGroups: ["config.istio.io"]
    resources: ["routerules"]
    verbs: ["get", "list", "update", "patch", "watch"]    
