# Copyright 2018 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# We will override the default stdio handler and accesslogs of istio
# with our own customizations. Fluentd is then configured to collect
# these logs from the mixer container.
apiVersion: "config.istio.io/v1alpha2"
kind: stdio
metadata:
  name: handler
  namespace: istio-system
spec:
  outputAsJson: true
---
  apiVersion: "config.istio.io/v1alpha2"
  kind: rule
  metadata:
    name: stdio
    namespace: istio-system
  spec:
    match: "true" # If omitted match is true.
    actions:
    - handler: handler.stdio
      instances:
      - accesslog.logentry
---
apiVersion: "config.istio.io/v1alpha2"
kind: logentry
metadata:
  name: accesslog
  namespace: istio-system
spec:
  severity: '"Info"'
  timestamp: request.time
  variables:
    sourceService: source.service | ""
    sourceNamespace: source.namespace | ""
    destinationService: destination.service | ""
    destinationNamespace: destination.namespace | ""
    destinationRevision: destination.labels["knative.dev/revision"] | "unknown"
    destinationConfiguration: destination.labels["knative.dev/configuration"] | "unknown"
    requestOperation: api.operation | ""
    protocol: request.scheme | "http"
    method: request.method | ""
    url: request.path | ""
    responseCode: response.code | 0
    responseSize: response.size | 0
    requestHost: request.host | ""
    requestSize: request.size | 0
    latency: response.duration | "0ms"
    connectionMtls: connection.mtls | false
    userAgent: request.useragent | ""
    responseTimestamp: response.time
    receivedBytes: request.total_size | connection.received.bytes | 0
    sentBytes: response.total_size | connection.sent.bytes | 0
    referer: request.referer | ""
    traceId: request.headers["x-b3-traceid"] | "unknown"
  monitored_resource_type: '"UNSPECIFIED"'
---
apiVersion: "config.istio.io/v1alpha2"
kind: metric
metadata:
  name: revisionrequestcount
  namespace: istio-system
spec:
  value: "1"
  dimensions:
    source_service: source.service | "unknown"
    destination_namespace: destination.namespace | "unknown"
    destination_service: destination.service | "unknown"
    destination_revision: destination.labels["knative.dev/revision"] | "unknown"
    destination_configuration: destination.labels["knative.dev/configuration"] | "unknown"
    response_code: response.code | 200
  monitored_resource_type: '"UNSPECIFIED"'
---
apiVersion: "config.istio.io/v1alpha2"
kind: metric
metadata:
  name: revisionrequestduration
  namespace: istio-system
spec:
  value: response.duration | "0ms"
  dimensions:
    source_service: source.service | "unknown"
    destination_namespace: destination.namespace | "unknown"
    destination_service: destination.service | "unknown"
    destination_revision: destination.labels["knative.dev/revision"] | "unknown"
    destination_configuration: destination.labels["knative.dev/configuration"] | "unknown"
    response_code: response.code | 200
  monitored_resource_type: '"UNSPECIFIED"'
---
apiVersion: "config.istio.io/v1alpha2"
kind: metric
metadata:
  name: revisionrequestsize
  namespace: istio-system
spec:
  value: request.size | 0
  dimensions:
    source_service: source.service | "unknown"
    destination_namespace: destination.namespace | "unknown"
    destination_service: destination.service | "unknown"
    destination_revision: destination.labels["knative.dev/revision"] | "unknown"
    destination_configuration: destination.labels["knative.dev/configuration"] | "unknown"
    response_code: response.code | 200
  monitored_resource_type: '"UNSPECIFIED"'
---
apiVersion: "config.istio.io/v1alpha2"
kind: metric
metadata:
  name: revisionresponsesize
  namespace: istio-system
spec:
  value: response.size | 0
  dimensions:
    source_service: source.service | "unknown"
    destination_namespace: destination.namespace | "unknown"
    destination_service: destination.service | "unknown"
    destination_revision: destination.labels["knative.dev/revision"] | "unknown"
    destination_configuration: destination.labels["knative.dev/configuration"] | "unknown"
    response_code: response.code | 200
  monitored_resource_type: '"UNSPECIFIED"'
---
apiVersion: "config.istio.io/v1alpha2"
kind: prometheus
metadata:
  name: revisionpromhandler
  namespace: istio-system
spec:
  metrics:
  - name: revision_request_count
    instance_name: revisionrequestcount.metric.istio-system
    kind: COUNTER
    label_names:
    - source_service
    - destination_namespace
    - destination_service
    - destination_revision
    - destination_configuration
    - response_code
  - name: revision_request_duration
    instance_name: revisionrequestduration.metric.istio-system
    kind: DISTRIBUTION
    label_names:
    - source_service
    - destination_namespace
    - destination_service
    - destination_revision
    - destination_configuration
    - response_code
    buckets:
      explicit_buckets:
        bounds: [0.005, 0.01, 0.025, 0.05, 0.1, 0.25, 0.5, 1, 2.5, 5, 10]
  - name: revision_request_size
    instance_name: revisionrequestsize.metric.istio-system
    kind: DISTRIBUTION
    label_names:
    - source_service
    - destination_namespace
    - destination_service
    - destination_revision
    - destination_configuration
    - response_code
    buckets:
      exponentialBuckets:
        numFiniteBuckets: 8
        scale: 1
        growthFactor: 10
  - name: revision_response_size
    instance_name: revisionresponsesize.metric.istio-system
    kind: DISTRIBUTION
    label_names:
    - source_service
    - destination_namespace
    - destination_service
    - destination_revision
    - destination_configuration
    - response_code
    buckets:
      exponentialBuckets:
        numFiniteBuckets: 8
        scale: 1
        growthFactor: 10
---
apiVersion: "config.istio.io/v1alpha2"
kind: rule
metadata:
  name: revisionpromhttp
  namespace: istio-system
  labels:
    istio-protocol: http
spec:
  actions:
  - handler: revisionpromhandler.prometheus
    instances:
    - revisionrequestcount.metric
    - revisionrequestduration.metric
    - revisionrequestsize.metric
    - revisionresponsesize.metric
---
