# Copyright 2020 The Knative Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file is automagically synced here from github.com/knative-sandbox/.github
# repo by knobots: https://github.com/knative-sandbox/knobots and will be overwritten.

name: 'Releasability'

on:
  schedule:
    - cron: '0 1 * * 1-5' # 6am Pacific, weekdays.

  workflow_dispatch:      # Manual trigger.
    inputs:
      releaseFamily:
        description: 'Release? (vX.Y)'
        required: false
      moduleReleaseFamily:
        description: 'Module Release? (vX.Y)'
        required: false
      slackChannel:
        description: 'Slack Channel? (release-#)'
        required: false

jobs:
  releasability:
    uses: knative/actions/.github/workflows/releasability.yaml@main
    with:
      releaseFamily: ${{ github.event.inputs.releaseFamily }}
      moduleReleaseFamily: ${{ github.event.inputs.moduleReleaseFamily }}
      slackChannel: ${{ github.event.inputs.slackChannel }}
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
