# Copyright 2020 The Knative Authors.
# SPDX-License-Identifier: Apache-2.0

# This file is automagically synced here from github.com/knative-extensions/knobots

name: Code Style

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:

  style:
    uses: knative/actions/.github/workflows/reusable-style.yaml@main
