# Copyright 2022 The Knative Authors.
# SPDX-License-Identifier: Apache-2.0

# This file is automagically synced here from github.com/knative-sandbox/knobots

name: Test

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:
  test:
    uses: knative/actions/.github/workflows/go-test.yaml@main
